.we
{
font-size:59px;
text-shadow:2.5px 2.5px green;
font-family:Segoe UI Black;
}
.one
{
width:60%;
height:98%;
border:2px solid gray;
margin-left:270px;
}
.one:hover
{
box-shadow:3px 3px 45px 8px gray;
}
.pho
{
width:96%;
height:96%;
padding-left:15px;
padding-top:15px;
}
.two
{
width:60%;
height:96%;
border:2px solid skyblue;
margin-left:270px;
}
.two:hover
{
box-shadow:3px 3px 45px 8px skyblue;
}
.pho2
{
width:96%;
height:96%;
padding-left:15px;
padding-top:15px;
}
.para
{
height:49%;
width:41%;
border:2px solid green;
display:block;
margin-left:85px;
}
.para:hover
{
box-shadow:3px 3px 40px 10px green;
}
.adv
{
font-size:28px;
text-align:center;
color:#FC9483;
}
.to
{
color:gray;
text-indent:40px;
line-height:1.5;
font-size:20px;
margin-top:-17px;
padding:5px;
}
.para2
{
height:49%;
width:41%;
border:2px solid green;
margin-left:700px;
margin-top:-319;
}
.para2:hover
{
box-shadow:3px 3px 40px 10px green;
}
.pla
{
font-size:50px;
text-align:center;
text-shadow:2px 2px #5C9090;
}
.col
{
width:70%;
height:60%;
border:2px solid blue;
padding:10px;
margin-left:55px;
}
.p1
{
border-radius:20px;
width:30%;
height:59%;
margin-left:250px;
}
.mer1
{
border-radius:20px;
width:80%;
padding:15px;
margin-left:20px;
margin-top:5px;
height:70%;
border:2px solid gold;
}
.mer1:hover
{
box-shadow:3px 3px 40px 10px gold;
}
.than
{
font-size:40px;
font-family:Italic;
color:#FF007F;
text-align:center;
text-decoration:none;
}
.p2
{
border-radius:20px;
width:30%;
height:59%;
margin-left:690px;
margin-top:-383px;
}
.mer2
{
border-radius:20px;
width:80%;
padding:15px;
margin-left:20px;
margin-top:5px;
height:70%;
border:2px solid gold;
}
.mer2:hover
{
box-shadow:3px 3px 40px 10px gold;
}
.than2
{
font-size:40px;
font-family:Italic;
text-align:center;
text-decoration:none;
}
.p3
{
width:30%;
height:59%;
margin-left:250px;
margin-top:20px;
}
.mer3
{
border-radius:20px;
width:80%;
padding:15px;
margin-left:20px;
margin-top:5px;
height:70%;
border:2px solid gold;
}
.mer3:hover
{
box-shadow:3px 3px 40px 10px gold;
}
.than3
{
font-size:40px;
font-family:Italic;
text-align:center;
}
.than3:hover
{
color:green;
}
.p4
{
border-radius:20px;
width:30%;
height:59%;
margin-left:690px;
margin-top:-383px;
}
.mer4
{
border-radius:20px;
width:80%;
padding:15px;
margin-left:20px;
margin-top:5px;
height:70%;
border:2px solid gold;
}
.mer4:hover
{
box-shadow:3px 3px 40px 10px gold;
}
.than4
{
font-size:40px;
font-family:Italic;
text-align:center;
}
.p5
{
border-radius:20px;
width:30%;
height:59%;
margin-left:250px;
margin-top:20px;
}
.mer5
{
border-radius:20px;
width:80%;
padding:15px;
margin-left:20px;
margin-top:5px;
height:70%;
border:2px solid gold;
}
.mer5:hover
{
box-shadow:3px 3px 40px 10px gold;
}
.than5
{
font-size:40px;
font-family:Italic;
text-align:center;
}
.p6
{
border-radius:20px;
width:30%;
height:59%;
margin-left:690px;
margin-top:-383px;
m
}
.mer6
{
border-radius:20px;
width:80%;
padding:15px;
margin-left:20px;
margin-top:5px;
height:70%;
border:2px solid gold;
}
.mer6:hover
{
box-shadow:3px 3px 40px 10px gold;
}
.than6
{
font-size:40px;
font-family:Italic;
text-align:center;
}
.comm
{
color:#dea5a4;
font-size:30px;
}
textarea
{
font-size:20px;
color:gray;
font-family:Times New Roman;
}
.sub
{
width:8%;
height:5%;
background-color:#00BECC;
font-size:22px;
font-family:bold;
}
.sub:hover
{
color:white;
background-color:1035AC;
}
h5
{
background-color:pink;
color:brown;
font-size:21px;
text-align:center;
margin-bottom:-10px;
margin-left:-10px;
margin-right:-6px;
}
a
{
text-decoration:none;
color:#FF007F;
}
a:hover
{
color:#DE3161;
}